@model Taskmanager.Models.Projects

<h1>Edit Project</h1>
@using (Html.BeginForm("Edit","Project", FormMethod.Post)){
    @Html.AntiForgeryToken()

    <div class="form-control">
        @Html.LabelFor(Model=>Model.Name,"Name:",htmlAttributes: new {@class = "col-md-2 label-control"})
        <br>
        @Html.EditorFor(Model=>Model.Name,"",new{ htmlAttributes = new{ @class = "form-control"}})
        @Html.ValidationMessageFor(Model=>Model.Name, null,  new{@class = "text-danger"})
        <br>
        @Html.LabelFor(Model=>Model.Description,"Description: ",new{htmlAttributes=new{@class = "label-control col-md-2"}})
        <br>
        @Html.EditorFor(Model=>Model.Description,"",new{htmlAttributes=new{@class = "form-control"}})
        @Html.ValidationMessageFor(Model=>Model.Description,null, new{@class = "text-danger"})
        <br>
        <button class="btn btn-primary btn-lg">Submit</button>

    </div>

}