
<div class="row h-100">
    <div class="col-md-3 overflow-auto min-vh-100">
        <div class="row">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">User Information</h5>
                    <p class="card-text">Email: @User.Identity.Name</p>
                </div>
                <hr/>
                <h5>Manages Teams</h5>
                <div style="overflow-y: scroll; height: 10vh;">
                <ul>
                    @foreach(var i in ViewBag.Teams_C)
                    {
                       
                            <li onclick="window.location='/Team/View/@i.Id'" style="list-style: none">
                                <button type="button" class="btn btn-primary mb-3">
                                    @i.Name
                                </button>
                            </li>

                    }
                    <button type="button" class="btn btn-success " onclick="window.location='/Team/Create'">Add a team</button>

                </ul>
                </div>
                <hr />
                <h5>Participating in  Teams</h5>
                <div style="overflow-y: scroll; height: 10vh;">
                <ul>
                    @foreach(var i in ViewBag.Teams_P)
                    {
                        
                            <li onclick="window.location='/Team/View/@i.Id'" style="list-style: none">
                                <button type="button" class="btn btn-primary mb-3">
                                    @i.Name
                                </button>
                            </li>
                        
                    }
            
                </ul>
                </div>

            </div>

        </div>
        
    </div>
    <div class="col-md-9 overflow-auto border-start border-dark min-vh-100">
        <h3>Projects you are in</h3>
        <div class="wrapper" style="min-height: 5rem;">
                    @foreach(var i in ViewBag.Project_P)
                    {
                        <div class="m-2">
                            <div class="card border-primary mb-3" style="max-width: 20rem;">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <button type="button" class="btn btn-primary">
                                            <li onclick="window.location='/Project/View/@i.Id'" style="list-style: none;">@i.Name</li>
                                        </button>
                                
                                     </h4>
                                     <h5>Description</h5>
                                    <p class="card-text">@i.Description</p>
                                </div>
                            </div>
                        </div>
                    }

        </div>

        <hr />
        <div class="col-md-9 overflow-auto border-start border-dark min-vh-100">
            <h3>Tasks you are in</h3>
            <div class="wrapper"" style="min-height: 5rem">
                @foreach (var i in ViewBag.Tasks)
                {
                    <div class="m-2">
                        <div class="card border-primary mb-3" style="max-width: 20rem;">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <button type="button" class="btn btn-primary">
                                        <li onclick="window.location='/Tasks/Show/@i.Id'" style="list-style: none;">@i.Title</li>
                                    </button>

                                </h4>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>


    
</div>
