@model dynamic
@if(TempData["message"] != null){
    <div class="alert @TempData["messageType"]">
        @TempData["message"]
    </div>
}

<br />

<div class="card">
     <div class="card-body">

        <h5 class="card-title alert-info py-3 px-3 rounded-2"> @Model.task.Title</h5>

        <div class="card-text">
            @Model.task.Description
        </div>

        <div class="d-flex justify-content-between flex-row mt-5">
           @* <div><i class="bg-info bi-globe">@Model.Status.StatusName</i></div>*@
            <div><i class="bi-person">@Model.task.User.UserName</i></div>
            <span >@Model.task.StartDate</span>
            <span >@Model.task.EndDate</span>
        </div>
    </div>
        <hr />
        <div class="card-body">
            <h5 class="card-title alert-info py-3 px-3 rounded-2">Assigned Members</h5>
        
            <div class="card-text">
                <div class="container">
                    @foreach (var i in Model.Tm)
                    {
                        <div class="row">
                            <div class="col-md 4">
                            <p>@i.Email</p>
                                    
                            </div>
                            <div class="col-md 4">

                                    
                            </div>

                            <div class="col-md 4">
                                <form action="/Task_Members/Delete" method="post" class=" float-end ">
                                <input type="hidden" name="m_id" value="@i.Id">
                                <input type="hidden" name="t_id" value="@Model.task.Id">
                                <button type="submit" class="btn btn-lg btn-danger">Remove</button></form>
                            </div>
                        </div>

                        /*
                        <div class=" d-flex form-control mt-3 ">
                        <p>@i.Email</p>
                        <form action="/Task_Members/Delete" method="post" class=" float-end ">
                        <input type="hidden" name="m_id" value="@i.Id">
                        <input type="hidden" name="t_id" value="@Model.task.Id">
                        <button type="submit" class="btn btn-lg btn-danger">Remove</button></form>
                        </div>
                        */
                    }
                </div>
            </div>
            <form method="get" action="/Task_Members/Add/@Model.task.Id">
                <button type="submit" class="btn btn-primary btn-lg mb-3 mt-3">Add Member</button>
            </form>
        </div>
     

     @if(ViewBag.AfisareButoane == true && @Model.task.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin){
        <div class="d-flex flex-row justify-content-between p-3 border-1 border-top">

            <a class="btn btn-success btn-lg" href="/Tasks/Edit/@Model.task.Id">Editeaza task</a>

            <form method="post" action="/Tasks/Delete/@Model.task.Id">

                <button class="btn btn-danger btn-lg" type="submit">Sterge task</button>

            </form>

        </div>
     }
</div>

<br />
<br />
@foreach(var comm in Model.task.Comments){
    <div class="container">
        <div class="row">
            <div class="col-md-2">

            </div>

            <div class="col-md-8">
                <div>
                    <p>@comm.Content</p>
                    <small>@comm.Date</small>
                    <strong><i class="bg-info bi-person"></i>@comm.User.UserName</strong>
                </div>

                <br>

                @if(comm.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin)
                {
                    <div class="d-flex">

                        <div>

                            <a class="btn btn-outline-primary" href="/Comments/Edit/@comm.Id"><i class="bi bi-pencil-square"></i>Editeaza</a>

                        </div>

                        <div>

                            <form method="post" action="/Comments/Delete/@comm.Id">

                                <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Sterge</button>

                            </form>

                        </div>

                    </div>
                }
                <br>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
}

<div class="container">

    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div class="card">

                <form method="post" action="/Tasks/Show/@Model.task.Id">

                    <div class="card-body">

                        <input type="hidden" name="TaskId" value="@Model.task.Id" />

                        <label>Continut comentariu</label>
                        <br />

                        <textarea class="form-control" name="Content"></textarea>

                        @Html.ValidationMessage("Content", null, new { @class = "text-danger"})

                        <br /><br />

                        <button class="btn btn-success btn-lg " type="submit">Adauga comentariul</button>

                    </div>

                </form>

            </div>

        </div>

        <div class="col-md-2"></div>

    </div>

</div>
