@model Team

<h1>@Model.Name</h1>

<hr />
<h2>Members</h2>
<ul>
    @foreach (var i in ViewBag.Members_P)
    {  <div class="w-100 p-3">
        <li class="d-inline-block">@i.UserName -  (@i.Email) </li>

            @{
                if (string.Compare(TempData["admin"].ToString(), "0") == 0)
                {
                    <form class="d-inline-block float-end ps-3" method="post" action="/Members/Delete">
                        <input type="hidden" name="id" value="@i.Id">
                        <input type="hidden" name="team_id" value="@Model.Id">
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                    <form class="d-inline-block float-end" method="post" action="/Members/Edit">
                        <input type="hidden" name="id" value="@i.Id">
                        <input type="hidden" name="team_id" value="@Model.Id">
                        <button type="submit" class="btn btn-success ">Make Admin</button>
                    </form>
                }

            }
        
        </div>
        
    }
    @{
        if (string.Compare(TempData["admin"].ToString(), "0") == 0)
        {
                <button type="button" class="btn btn-primary btn-sm" onclick="window.location='/Members/Add/@Model.Id'">Add a member</button>
        }
    }

    

</ul>

<h2>Projects</h2>
<ul>
       

    @foreach(var i in ViewBag.Projects)
    {
        <li onclick="window.location='/Project/View/@i.Id'">@i.Name</li>
    }
    @{
        if (string.Compare(TempData["admin"].ToString(), "0") == 0)
        {
                <button type="button" class="btn btn-primary btn-sm" onclick="window.location='/Project/Add/@Model.Id'">Add a project</button>
        }
    }
   


</ul>

<br />
<hr>
@{
    if (string.Compare(TempData["admin"].ToString(), "0") == 0)
    {
    <div class="w-100">
                <form class="d-inline-block" action="/Team/Delete" method="post">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <input type="hidden" name="IdAdmin" value="@Model.IdAdmin" />
                    @{

                    }
                    <button type="submit" class="btn btn-danger btn-lg">Delete</button>
                </form>
                <button type="submit" class="btn btn-success btn-lg d-inline-block float-end" onclick="window.location='/Team/Edit/@Model.Id'">Edit</button>

    </div>
    }
}

@if (string.Compare(TempData["admin"].ToString(), "0") != 0){}
<form class="d-inline-block float-end ps-3" method="post" action="/Members/Delete">
    <input type="hidden" name="id" value="-1">
    <input type="hidden" name="team_id" value="@Model.Id">
    <button type="submit" class="btn btn-danger">Leave Team</button>
</form>


